altgraph==0.17
asgiref==3.2.10
beautifulsoup4==4.9.0
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
Cython==0.29.11
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
future==0.18.2
gunicorn==20.0.4
idna==2.8
inflection==0.4.0
kiwisolver==1.1.0
lunardate==0.2.0
lxml==4.3.4
matplotlib==3.1.1
more-itertools==8.2.0
mysql-connector-python==8.0.12
numpy==1.16.4
pandas==0.24.2
pandas-datareader==0.8.1
pefile==2019.4.18
Pillow==7.1.2
pip==20.1
psycopg2==2.8.6
PyInstaller==3.6
pyparsing==2.4.0
pystan==2.19.0.0
python-dateutil==2.8.0
pytrends==4.6.0
pytz==2019.1
pywin32-ctypes==0.2.0
Quandl==3.5.0
requests==2.22.0
setuptools==28.8.0
six==1.12.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.3
wheel==0.34.2
whitenoise==5.2.0